body {
  background: #f6f6f6 !important;
}
#header, #footer, #toppage-title, .menu,
#謝辞, #推薦の言葉, #copyright, #author, #cha-0_footnotes,
#sidebar {
  display: none !important;
}
#table_of_contents {
  font-size: 50%;
}
#container {
  margin: 0 !important;
}
#book {
  background: #eee !important;
  width: 100% !important;
  border: 0px !important;
  padding: 8% !important;
  line-height: 1.9 !important;
  font-family: -apple-system, Segoe UI, Helvetica Neue, Hiragino Kaku Gothic ProN, "メイリオ", meiryo,sans-serif !important;
}
#content p {
  color: #333 !important;
}
a {
  color: #333 !important;
}
.codelisting {
  border: 0px !important;
}
.heading {
  background: #dbedff !important;
}
.code {
  background: #f6f6f6 !important;
  overflow: auto !important;
  font-size: 70% !important;
}
pre {
  margin: 2em !important;
  line-height: 1.6 !important;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace !important;
}
code {
  color: #c0341d !important;
  background: #fbe5e1 !important;
  line-height: 1.6 !important;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace !important;
}
